


.featured-media {
	max-width: 100%;
	position: relative;

	img {
		max-width: 100%;
	}

	h1 {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0 0 2px 0;
	}
}

/**
 * Commun things
 */

.entry-content {
	@extend .col-3;
	@extend .last;
	@include box-sizing();
	padding: $contentPadding;
}

.share-buttons {
	margin-top: $baseLineHeight;
	.one-button  {
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 0;
	}
}



/**
 * Post
 */
 
.post {
	.entry-media {
		@extend .plain-width;
	}

	.entry-header {

	}

	.entry-content {

	}	
}



/**
 * Page
 */
 
.page {
	.entry-media {
		@extend .col-1;
		@extend .first;
	}

	.entry-content {

	}
}


/**
 * Event
 */

.event {
	.entry-media {
		@extend .plain-width;
	}

	.entry-header {
		@extend .col-3;
		@extend .pull-1;
		position: relative;
		max-width: 70%;
	} 

	.entry-content {
		padding: 0;
	}
	
	.inner-entry-content {
		@extend .col-1;
		@include box-sizing('border');
		padding: $boxPadding;
		&:first-child {
			@extend .first;
		}
	}

	.date-main {
		font-weight: bold;
	}

	.entry-meta {
		@include box-sizing();
		@extend .col-1;
		@extend .first;
		margin-top: -160px;
		padding-left: $baseLineHeight;
	}
		.tags-list {
			margin-bottom: $baseLineHeight;
		}

	.entry-mentions {
		@extend .clearfix;
		@extend .col-3;
		@extend .last;

	}
}


