


.featured-media {
	max-width: 100%;
	position: relative;

	img {
		max-width: 100%;
	}

	h1 {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
	}
}

/**
 * Commun things
 */

.entry-content {
	@extend .col-3;
	@extend .last;
	@include box-sizing();
	padding: $contentPadding;

	iframe {
		width: 100%;
	}
}

.share-buttons {
	margin-top: $baseLineHeight;
	.one-button  {
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 0;
	}
}

.date-main {
	font-weight: bold;
}

.entry-summary {
	p {
		margin-bottom: $baseLineHeight / 2; 
	}
}

.entry-meta,
.entry-header {
	img {
		margin: $baseLineHeight / 2 0 ; 
	}
}



/**
 * Post
 */
 
.post {
	.entry-media {
		@extend .plain-width;
		img {
			margin-bottom: -10px;
		}
	}

	.entry-header {

	}

	.entry-content {

	}	

	.entry-meta {
		padding: $postMetaPadding;

		.post-categories {
			margin: $baseLineHeight 0;
			a {
				border: none;
			}
		}
	}
}



/**
 * Page
 */
 
.page {
	.entry-media {
		@extend .col-1;
		@extend .first;
	}

	.entry-content {

	}
}

// Contact page Template
.entry-contact-content {
	@extend .col-2;
	padding: 0;
}

.entry-contact-aside {
	@extend .col-1;
}

.twitter-timeline {
	@include box-sizing();
	max-width: 100% !important;
	min-width: none;
}




// Programmation page Template



/**
 * Event
 */

.event {
	.entry-media {
		@extend .plain-width;
	}

	.entry-header {
		@extend .col-3;
		@extend .pull-1;
		position: relative;
		max-width: 70%;
	} 

	.entry-content {
		padding: 0;
	}
	
	.inner-entry-content {
		@extend .col-1;
		@include box-sizing('border');
		padding: 0.2em 0.3em 0 0;
		&:first-child {
			@extend .first;
		}
	}

	.entry-meta {
		@include box-sizing();
		@extend .col-1;
		@extend .first;
		padding-left: $baseLineHeight;
		position: absolute;
		top: -30px;
		left: 0;
	}
		.tags-list {
			margin-bottom: $baseLineHeight;
		}

	.entry-mentions {
		@extend .clearfix;
		@extend .col-3;
		@extend .last;

	}

	#display-entry-mentions {
		text-align: right;
		padding-right: $baseLineHeight; 
	}

	#inner-entry-mentions {
		@include clearfix();
		display: none;
	}
	.main-text {
		font-style: italic;
	}

}


