


.featured-media {
	max-width: 100%;
	position: relative;

	img {
		max-width: 100%;
	}

	h1 {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;

		@include breakpoint(small) {
			position: relative;
		}
	}
}

/**
 * Commun things
 */

.entry-content {
	@extend .col-3;
	@extend .last;
	@include box-sizing();
	padding: $contentPadding;

	@include breakpoint(medium) {
		width: 377px;
	}
	@include breakpoint(small) {
		width: 100%;
	}

	iframe {
		width: 100%;
	}
}


.share-buttons {
	margin-top: $baseLineHeight;
	.one-button  {
		display: block;
		margin: 0 5px 5px 0;
		padding: 0;
		clear: both;

		@include breakpoint(small) {
			float: left;
		}
	}
}

.date-main {
	font-weight: bold;
}

.entry-summary {
	p {
		margin-bottom: $baseLineHeight / 2; 
	}
}

.entry-meta,
.entry-header {
	img {
		margin: $baseLineHeight / 2 0 ; 
	}
}



/**
 * Post
 */
 
.post {
	.entry-media {
		@extend .plain-width;
		img, 
		iframe {
			display: block;
			margin: auto;
		}
	}

	.entry-header {

	}

	.entry-content {

	}	

	.entry-meta {
		@include box-sizing;
		@extend .col-1;
		@extend .first;
		padding: $postMetaPadding;

		.post-categories {
			margin: $baseLineHeight 0;

			@include breakpoint(small) {
				display: inline-block;
				margin-left: 20px;
			}			
			a {
				border: none;
			}
		}
		
		@include breakpoint(small) {
			width: 100%;
		}

	}
}



/**
 * Page
 */
 
.page {
	.entry-media {
		@extend .col-1;
		@extend .first;

		@include breakpoint(small) {
			display: none;
		}	
	}

	> .entry-header {
		@include breakpoint(medium) {
			margin: 20px 0;
		}
	}

	.entry-content {
		@include breakpoint(medium) {
		}
	}
}

// Infos pratiques pages Template

.entry-practical-header {
	margin-top: $baseLineHeight;

	.entry-extract {
		@extend .col-3;
		@extend .last;

		@include breakpoint(medium) {
			width: 377px;
			max-width: 99%;
		}
	}
}

.entry-practical-content {
	@extend .col-2;
	@extend .first;
	@include box-sizing();
	padding: $contentPadding;
	
	@include breakpoint(medium) {
		width: 99%;
	}	
}

.entry-practical-aside {
	@extend .col-2;
	@include box-sizing();
	padding: $contentPadding;

	@include breakpoint(medium) {
		width: 99%;
		clear: both;
		margin: auto;
	}	
}

.twitter-timeline {
	@include box-sizing();
	max-width: 100% !important;
	min-width: none;
}




/**
 * Event
 */

.event {
	.entry-media {
		@extend .plain-width;
	}

	.event-portrait-media {
		min-height: 40px;
	}

	.entry-header {
		@extend .col-3;
		@extend .pull-1;
		position: relative;
		max-width: 70%;

		@include breakpoint(small) {
			margin: 0;
			right: 0;
			max-width: 100%;
		}	
	} 

	.entry-content {
		padding: 0;

		@include breakpoint(small) {
			width: 95%;
			margin: auto;
			float: none;
			@include clearfix();
		}	
	}
	
	.inner-entry-content {
		@extend .col-1;
		@extend .first;
		@include box-sizing();
		padding: 0.2em 0.3em 0 0;

		@include breakpoint(medium) {
			width: 98%;
			clear: both;
			margin: auto;
		}

		@include breakpoint(small) {
			width: 100%;
			clear: both;
			margin: 0;
		}

		&:first-child {
			
		}
	}

	.inner-entry-main-content {
		@extend .col-2;
		@include box-sizing();
		padding: 0.2em 0.3em 0 0;
		
		@include breakpoint(medium) {
			margin-left: 0;
		}		
		@include breakpoint(medium) {
			width: 100%;
			margin: 0;
		}	
	}

	.entry-meta {
		@include box-sizing();
		@extend .col-1;
		@extend .first;
		padding-left: $baseLineHeight;
		position: absolute;
		top: -30px;
		left: 0;
		
		@include breakpoint(small) {
			width: 95%;
			position: relative;
			clear: both;
			padding: 0;
			margin: 30px auto 0 auto;
			float: none;
		}

		img {
			@include breakpoint(small) {
				display: none;
			}
		}

	}
		.tags-list {
			margin-bottom: $baseLineHeight;
		}

	.entry-mentions {
		@extend .clearfix;
		@extend .col-3;
		@extend .last;

		@include breakpoint(medium) {
			width: 377px;
			float: right;
		}
		@include breakpoint(small) {
			width: 98%;
			clear: both;
		}
	}

	#display-entry-mentions {
		text-align: right;
		padding-right: $baseLineHeight; 
	}

	#inner-entry-mentions {
		@include clearfix();
		display: none;
	}
	.main-text {
		font-style: italic;
	}

}


