

#inner-footer-navigations {
	@extend .plain-width;
}

.box-footer {
	@extend .box;

	@include breakpoint(medium) {
		width: 46%;
		margin: 0 0 $baseLineHeight 0;
		text-align: center;
	}

	@include breakpoint(medium) {
	}

	@include breakpoint(small) {
		width: 100%;
	}	

	&:first-child {
		@extend .first;
	}

	&:last-child {
		float: right;

		@include breakpoint(tablette) {
			clear: both;
			float: none;
			margin: 0 auto;
		}	
	}

	&:nth-child(2n+1) {

		@include breakpoint(tablette) {
			float: left;
		}

		@include breakpoint(medium) {
			clear: both;
		}	
	}

	p {
		margin-bottom: $baseLineHeight / 2 ;
	}

	a {
		color: inherit;
		border: none;
		
		&:before {
			content: "• ";
		}
	}



}

.colombes-logo {
	background-image: url();
}

.haut-de-seine-logo {
	background-image: url();
}