

#inner-footer-navigations {
	@extend .plain-width;
}

#inner-footer-branding {
	@extend .col-1;
	@extend .last;
}

.box-footer {
	@extend .box;

	&:first-child {
		@extend .first;
	}

	&:last-child {
		float: right;
	}

	p {
		margin-bottom: $baseLineHeight / 2 ;
	}

	a {
		color: inherit;
		border: none;
		
		&:before {
			content: "• ";
		}
	}
}

.colombes-logo {
	background-image: url();
}

.haut-de-seine-logo {
	background-image: url();
}