input {
	background: $inputBackground;
	border: 1px solid $inputBorder; 
	height: $inputHeight;
}

.search-form {
	@extend .col-1;
	@extend %first;
	padding: 0;
	border: none;

	input[type=search] {
		width: 70%;
		float: left;
		height: 24px;
		margin: 0;
		padding: 0 0.3em;
		@include box-sizing();
	}

	input[type=submit] {
		width: 30%;
		height: 24px;
		@include box-sizing();
		background: $black;
		color: $white;
	}

}

