
form {
	p {
		margin-bottom: $baseLineHeight / 2;
	}
}

input[type=text], 
input[type=email] {
	@include box-sizing();
	width: 100%;
	line-height: $baseLineHeight;
	background: $inputBackground;
	border: $inputBorder; 
	height: $inputHeight;
	padding: 0.5em;
}

input[type=checkbox] {
	width: auto;
	height: auto;
	line-height: $baseLineHeight;
}

textarea {
	border: $inputBorder;
	padding: 0.5em;
	
}

input[type=submit] {
	@extend %button;
	width: auto;
	line-height: $baseLineHeight;
}



.search-form {
	@extend .col-1;
	@extend %first;
	padding: 0;
	border: none;

	input[type=search] {
		width: 70%;
		float: left;
		height: 24px;
		margin: 0;
		padding: 0 0.3em;
		@include box-sizing();
	}

	input[type=submit] {
		width: 30%;
		height: 24px;
		@include box-sizing();
		background: $black;
		color: $white;
	}

	.search-submit {
		background: $white !important;
		color: $black !important;
		border: $inputBorder;
		border-left: none;
		padding: 0;
		&:hover {
			border: inherit;
		}
	}
}


// Sarbacane widget
.wp_sarbacane_widget_form {
	span {
		display: none;
	}
}


// Contact form
.wpcf7-form {
	input {
		width: 100%;
	}
	textarea {
		@include box-sizing();
		width: 100%;

	}
}


// Filter
#awpqsf_id {
	label {
		display: inline-block;
		margin-bottom: $baseLineHeight / 2;
	}
	input[type=checkbox] {
		margin-right: 5px;
	}

	.awpqsf_class {

	}

}