



.site-branding {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	img {
		max-width: $logoWidth;

		@include breakpoint(medium) {
			width: 100%;
		}
	}

	@include breakpoint(medium) {
		width: 13%;
		margin-top: 0;
	}

}