html {  }

body {  }

/*
 *	Wrap the all thing
 */
#page {
	width: $mainWidth;
	@include center-block;

	@include breakpoint(medium) {
		width: 100%;
	}
	@include breakpoint(small) {
		width: 100%;
	}
}


	/*
	 *	Header with branding and navigations
	 */
	#masthead {
		position: relative;
		@extend %clearfix;
		@extend .plain-width;

		@include breakpoint(medium) {

		}
		@include breakpoint(small) {

		}
	}


	/*
	 *	Content with main things and sidebar things
	 */
	#content {
		@extend %clearfix;
		margin-top: $baseLineHeight * 2;
	}

		// Contain content main things : media + texte principal (page, article, event) / archives prog + journal
		#primary {
			@extend .col-4;
			@extend %first;

			@include breakpoint(medium) {
				width: 100%;
			}
			@include breakpoint(small) {
				width: 100%;
			}	
		}
			#main {

			}

			#attached-content {
				margin-top: $baseLineHeight * 2;
			}

				.next-events {
					padding: $bigBlocsPadding;
				}

		// Contain the sidebar with additionnal stuffs.
		#secondary {
			@extend .col-1;
			@extend %last;
			margin-top: -120px;
		
			@include breakpoint(medium) {
				width: 100%;
			}
			@include breakpoint(small) {
				width: 100%;
			}
		}


	/*
	 *	The footer
	 */
	#mastfooter {
		@extend %clearfix;
		@extend .plain-width;

		margin: $baseLineHeight 0;
		padding: $bigBlocsPadding;
		@extend .backgrounded-box;
	}



/*
 *	The footer
 */

.box {
	@extend .col-1;
	@include box-sizing('border');
	padding: $boxPadding;
	margin-bottom: $baseLineHeight;

	&:nth-child(4n+1) {
		@extend .first;
		clear: both;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.backgrounded-box {
	background-color: $white;
}

.box-post {
	@extend .box;
}

.box-event {
	@extend .box;
}

article.page,
article.post,
article.event, {
	@extend .backgrounded-box;
	@extend .plain-width;
	float: left;
}