html {  }

body { background-size: cover; }

/*
 *	Wrap the all thing
 */
#page {
	width: $mainWidth;
	position: relative;
	@include center-block;

	@include breakpoint(tablette) {
		width: 779.1px;
	}
	@include breakpoint(medium) {
		width: 578.8px;
	}
	@include breakpoint(small) {
		width: 100%;
	}

}


	/*
	 *	Header with branding and navigations
	 */
	#masthead {
		position: relative;
		@extend %clearfix;

		@include breakpoint(desktop) {
			width: 100%;
		}
		@include breakpoint(tablette) {

		}
		@include breakpoint(medium) {

		}
	}


	/*
	 *	Content with main things and sidebar things
	 */
	#content {
		@extend %clearfix;
		margin-top: $baseLineHeight * 2;

		@include breakpoint(tablette) {
			clear: both;
		}
		@include breakpoint(medium) {
			margin: 0;

		}		
	}

		// Contain content main things : media + texte principal (page, article, event) / archives prog + journal
		#primary {
			@extend .col-4;
			@extend %first;

			@include breakpoint(small) {
				width: 100%;
			}
			@include breakpoint(medium) {
				width: 100%;
			}	
		}

			#main {

			}

			#attached-content {
				margin-top: $baseLineHeight;
			}

				.next-events {
					@include clearfix;
					padding: $bigBlocsPadding;

					@include breakpoint(small) {
						width: 400px;
						max-width: 100%;
						margin: auto;
					}

					.box-event {
						@include breakpoint(small) {
							max-width: 44%;
							margin: 0 3%;
						}
					}

					.box-4 {
						@include breakpoint(medium) {
							display: none;
						}
					}
					.box-3 {
						@include breakpoint(small) {
							display: none;
						}
					}				
				}

		// Contain the sidebar with additionnal stuffs.
		#secondary {
			@extend .col-1;
			position: absolute;
			top: $baseLineHeight;
			right: 0;
			z-index: 20;
		
			@include breakpoint(tablette) {
				position: relative;
				width: 100%;
				margin: $baseLineHeight * 4  0;
				top: 0;
				float: left;
				clear: both;
			}
		}


	/*
	 *	The footer
	 */
	#mastfooter {
		@extend .plain-width;
		@include box-sizing();

		z-index: 5;
		margin: $baseLineHeight 0;
		padding: $bigBlocsPadding;


		@include breakpoint(tablette) {
			width: 100%;
			margin: 0 auto;
			font-size: 1em;
		}

		@include breakpoint(medium) {

		}

	}



/*
 *	Commun stuffs, helpers
 */

.site-main {
}

.box {
	position: relative;
	@extend .col-1;
	@include box-sizing('border');
	padding: $boxPadding;
	margin-bottom: $baseLineHeight;

	img {
		max-width: 100%;
		height: auto;
	}

	@include breakpoint(small) {
		margin-left: 5%;
	}

	@include breakpoint(medium) {

	}
}

.inner-box {
}

.plain-box {

	position: relative;
	height: 350px;
	padding: 0;
	background: none repeat scroll 0% 0% #000;

	a {
		height: 100%;
		width: 100%;
	}

	img {
		height:	100%;
		width: auto;
		overflow: hidden;
		max-width: none;
	}

	.inner-box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
			
		&:hover {
			@include opacity(0.9);
		}
	}

	.box-content {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 10px;
	}

	h2 {
		color: #fff;
		margin-top: 10px;
	}

	.entry-summary {
		color: #fff;
		margin-top: 20px;
	}

	.entry-meta {
		color: #fff;
	}


}


.box-blank {
	@extend .box;
	margin: 0;
}

.box-title {
	@extend .plain-width;
	
	h1 {
		@extend .prefix-1;
	}
}

.backgrounded-box {
	background-color: $white;
}

.transparent-background {
  display: block;
  position: relative;
}

.transparent-background::after {
  content: "";
  background: $white;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


.relatived {
	position: relative;
}
.absoluted {
	position: absolute;
}

.box-page {
	@extend .box;
	margin-left: 0;
}

.box-post {
	@extend .box;
	margin-left: 0;
	
	@include breakpoint(small) {
		width: 100%;
	}		
}

#home-next-events {
	.box-event {
		margin-bottom: 0;

		.entry-meta {
			ul {
				margin-bottom: 0;
			}
		}
	}


}

.box-event {
	@extend .box;

	&:nth-child(4n+1) {
		@extend .first;
		clear: both;

		@include breakpoint(medium) {
			clear: none;
			margin-left: $gridGutterWidth;
		}	
		@include breakpoint(small) {

		}
	}

	&:nth-child(3n+1) {
		@include breakpoint(medium) {
			clear: both;
			margin-left: 0;
		}	
		@include breakpoint(small) {
			float: left;
			clear: none;
			margin-left: 3%;
			margin-right: 3%;
		}	
	}

	&:nth-child(2n+1) {
		@include breakpoint(medium) {
			clear: none;
		}
		@include breakpoint(small) {
			clear: both;
			margin-left: 3%;
			margin-right: 3%;
		}
	}

	&:nth-child(7),
	&:nth-child(13) {
		@include breakpoint(medium) {
			clear: both;
		}
	}	
}

.column {
	.box-event {
		margin-left: 0;
		margin-right: 0;
	}
}


.events-group-pair {
	@extend .col-2;
	@include box-sizing();
	display: inline-block;
	float: left;
	margin-left: $gridGutterWidth;
	
	&:first-child {
		margin-left: 0;
	}

	@include breakpoint(small) {
		clear: both;
		width: 100%;
		margin: auto;

	}

	@include breakpoint(medium) {

	}	

	.box-event {
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right; 
		}	
	} 
}



article.page,
article.post,
article.event, {
	@extend .backgrounded-box;
	@extend .plain-width;
	float: left;

	@include breakpoint(desktop) {
		min-height: 200px;
	}
}

article.event {
	min-height: 770px;
}


.no-results {
	@include box-sizing();
	width: $navigationWidth;
	padding: $boxPadding;
	@extend .last;

	@include breakpoint(tablette) {
		width: 100%;
		padding-left: 16%;
	}
}

