/* Links */
a {
	color: $linkColor;
	text-decoration: none;
	border-bottom: 1px dotted $linkColor;
	
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}


/* Buttons */

%button {
	font-family: $paragraphsFontFamily;
	line-height: $baseLineHeight;
	@extend .plain-width;
	@include box-sizing;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.85em;
	color: $white;
	padding: $buttonPadding;
	margin-bottom: 10px;
	text-align: center;
	pointer: cursor;
	border: none; 

	@include transition(all 0.2s);
	&:hover {
		background-color: $white;
		color: $black;
		border: none;
	}
}


a.button {
	@extend %button;
}

.widget a.button {
	width: auto;
}

nav a {
	border: inherit;
}

.box-post  a,
.box-event a,
.site-branding a {
	border: none;
	color: inherit;

	&:visited {
		color: inherit;
	}
}