


#main-magazine {
	@extend .col-3;
	@include clearfix();
	@extend .last;
}

#categories-magazine {
	@extend .col-1;
	@extend .first;
	margin-top: $baseLineHeight * 6;
}


.featured-post {
	@extend .plain-width;
	margin-bottom: $baseLineHeight;

	.featured-content {
		padding: 1em;
	}
}

.last-event-post {
	@extend .col-2;
	@extend .last;
	@include box-sizing();
	margin-bottom: $baseLineHeight;
	padding: $boxPadding;	
}