


#main-magazine {
	@extend .col-3;
	@include clearfix();
	@extend .last;
}

#magazine-filters {
	@extend .col-1;
	@extend .first;
	margin-top: $baseLineHeight * 6;

	.awpqsf_class,
	.filter-column {
		@include box-sizing();
		margin-left: 2%;
		padding: 0.5em;
		float: left;

		ul {
			display: inline-block;
			margin-bottom: $baseLineHeight;
		}
		a {
			border: inherit;
			color: inherit;
		}
	}

}


.featured-post {
	@extend .plain-width;
	margin-bottom: $baseLineHeight;

	.featured-content {
		padding: 1em;
	}
}

.last-event-post {
	@extend .col-2;
	@extend .last;
	@include box-sizing();
	margin-bottom: $baseLineHeight;
	padding: $boxPadding;	
}