


#main-magazine {
	@extend .col-3;
	@include clearfix();
	@extend .last;
	
	@include breakpoint(small) {
		width: 100%;
	}
}

#categories-magazine {
	@extend .col-1;
	@extend .first;
	margin-top: $baseLineHeight * 6;

	@include breakpoint(medium) {
		display: none;
	}

	.awpqsf_class,
	.filter-column {
		@include box-sizing();
		margin-left: 2%;
		float: left;

		ul {
			list-style: none;
			display: inline-block;
			clear: both;
			margin-bottom: $baseLineHeight;
		}
		a {
			border: inherit;
			color: inherit;
		}
	}

	.children {
		@include clearfix;
	}
}

#categories-replaced {
	display: none;
	@extend #categories-magazine;
	margin-top: 0;
	margin-bottom: $baseLineHeight;
	
	@include breakpoint(medium) {
		display: block;
	}
	@include breakpoint(small) {
		margin-left: 3%;
		margin-right: 3%;
		max-width: 44%;		
	}
}

.featured-post {
	@include box-sizing();
	@extend .plain-width;
	margin-bottom: $baseLineHeight;

	@include breakpoint(small) {
		width: 100%;
		margin: auto;
		margin-bottom: $baseLineHeight;
	}	

	.featured-content {
		padding: 1em;
	}
}

.last-event-post {
	@extend .col-2;
	@extend .last;
	@include box-sizing();
	margin-bottom: $baseLineHeight;
	padding: $boxPadding;

	@include breakpoint(small) {
		width: 176px;
		float: left;
		margin-left: 2%;
		margin-right: 3%;
        max-width: 44%;
	}		
}

#magazineGrid {
	@include breakpoint(small) {
		clear: both;
		width: 95%;
		float: left;
	}
}
