#alert {
	@include box-sizing();
	@extend .navigation-group;
	margin-top: $baseLineHeight / 2;
	padding: $boxPadding;
	background: $white;
	color: $black;
	font-size: 1em;


	@include breakpoint(medium) {
		width: 100%;
		padding-left: 15%;
		margin-top: 0;
	}

	@include breakpoint(small) {
		padding-left: 5%;
	}	
} 