

.box-month {
	@extend .box-event;
	h2 {
		text-align: right;
		border-right: 3px solid;
		padding: 0 $baseLineHeight $baseLineHeight 0;
	}
}

#awpqsf_id {
	border: none; 
}

#prog-filters {
	@extend .navigation-group;
	margin-top: - $baseLineHeight * 2 - 5;
	margin-bottom: $baseLineHeight * 1;

   	@include breakpoint(medium) {
        margin-top: 0;
    }

	.awpqsf_class,
	.filter-column {
		@include box-sizing();
		width: 32%;
		margin-left: 1%;
		float: left;

		@include breakpoint(medium) {
    	
    	}
		@include breakpoint(small) {

    	}
		label[class*='tax-label-'], 
		label[class*='tcmf-label-'] {
			width: 100%;
			padding: 5px 0 0;
		}
		label.taxchklabel,
		label.cmfchklabel {
			width: 100px;
		}

		&:first-child {
			min-height: 250px;
		}

		ul {
			display: inline-block;
			margin-bottom: $baseLineHeight;
		}
		li {
			&:before {
				content: '⊕ ';
			}
		}
		a {
			border: inherit;
			color: inherit;
		}
	}

	.taxcheckbox-0 {
		@include breakpoint(medium) {
        	margin-top: 40px;
    	}
		@include breakpoint(small) {
    	}    	
	}

	.awpqsf_submit {
		padding: 10px 0;
		float: right;
		margin: 0 1%;
		input[type=button] {
			@extend %button;
		}
	}
}


.event-repeatable-dates {
	font-weight: bold;
}

.mloading {
	height: 300px;
}

.no-result {
	padding: $boxPadding;
}
