

.search-header {
	@include clearfix;
	@include box-sizing();

	width: $navigationWidth;
	@extend .last;
	margin-bottom: $baseLineHeight * 2;

	@include breakpoint(medium) {
		width: 100%;
		margin-top: 0;
		padding-left: 15%;
	}

	@include breakpoint(small) {
		padding-left: 0;
	}

	h1 {
		float: left;
		margin: ($baseLineHeight / 2) 0 ; 

	}

	p,
	.post-type-filter {
		clear: both; 
		float: left;
		margin-bottom: $baseLineHeight / 2;
		margin-left: 10px;
	}

	.search-form {
		margin-left: 10px;
		clear: both;
		@include breakpoint(small) {
			clear: both;
			width: 100%;
			height: auto;
		}
	}

	.post-type-filter {
		input {
			margin-left: 10px;
		}
	}

}

.search-format-inline,
.search-header  {
	input[type=search] {
		border: 1px solid;
		border-right: none;
		line-height: 20px;	
	}
	input[type=submit] {
		padding: 0.3em 0.4em;
	}
}

.search-header  {
	.search-form {
		width: auto;
	}
	input[type=search] {
		height: 30px;
		
		@include breakpoint(small) {
			border-right: 1px solid;
			margin-bottom: 2px;
		}
	}
	input[type=submit] {
		border: none;
		height: 30px;
	}
}

.search-format-bloc {

	.search-form {
		float: none;
		height: auto;
	}

	input[type=search] {
		width: 100%;
		line-height: 20px;
		background: white;
		border: 1px solid $black;
		height: 30px;
		padding: 0.5em;
		margin: 12px 0 7px 0;
	}
	input[type=submit] {
		padding: 0.3em 0.4em;
	}	
}




