

.search-header {
	@include clearfix;

	width: $navigationWidth;
	@extend .last;
	margin-bottom: $baseLineHeight * 2;

	h1 {
		float: left;
		margin: ($baseLineHeight / 2) 0 ; 

	}

	p, 
	.post-type-filter {
		clear: both; 
		float: left;
		margin-bottom: $baseLineHeight / 2;
		margin-left: 10px;
	}

	.search-form {
		margin-left: 10px;
	}

	.post-type-filter {
		input {
			margin-left: 10px;
		}
	}
}