
.widget {
	margin-bottom: $baseLineHeight;
	padding: $boxPadding;
}

#secondary {

	aside {
		clear: both;

		@include breakpoint(tablette) {

		}	

		@include breakpoint(small) {

		}

	}

	aside.widget_search {
		padding: 0;
		background: none;

		@include breakpoint(small) {
			display: none;
		}
	}

	aside:not(.cuisine-widget) {
		@extend .transparent-background;
	}

	aside.cuisine-widget {
		@extend .backgrounded-box;
		padding: 0;
		margin-top: 43px;

		.widget-title {
			@include box-sizing();
			display: block;
			height: $menuHeight;
			margin: 0;
			padding: 0.6em 0 0 0.3em;
			text-align: left;

			@include breakpoint(small) {
				height: auto;
			}
		}

		.textwidget {
			padding: $boxPadding;
		}

		img {
			width: 105%;
			max-width: 105%;
			margin-top: - $boxPaddingTop;
			margin-left: - $boxPaddingSide;
		}

		@include breakpoint(tablette) {
			margin-top: 0;
		}			
	}

}
