
.widget {
	margin-bottom: $baseLineHeight;
	padding: $boxPadding;
}

#secondary {

	aside {
		clear: both;
		width: 176.4px;
		@include box-sizing();

		@include breakpoint(tablette) {

		}	

		@include breakpoint(small) {

		}
	}

	aside.search-format-inline {
		padding: 0;
		background: none;

		@include breakpoint(tablette) {
			display: none;
		}
	}


	aside.search-format-bloc {
		display: none;

		@include breakpoint(tablette) {
			display: block;
		}	
	}

	aside {
		@extend .transparent-background;
	}

	aside.cuisine-widget {
		padding: 0;
		margin-top: 43px;

		.widget-title {
			@include box-sizing();
			display: block;
			height: $menuHeight;
			margin: 0;
			padding: 0.6em 0 0 0.3em;
			text-align: left;

			@include breakpoint(small) {
				height: auto;
			}
		}

		p {
			padding: $boxPadding;
		}

		a {
			border: none;
		}
		
		img {
			width: 100%;
			max-width: 100%;
		}

		@include breakpoint(tablette) {
			display: none;
		}			
	}

}
