//
// VARIABLES
// --------------------------------------------------


/****************************************************
* 	SOMMAIRE
* 
* 	GLOBAL VALUES
*		Colors (grays & elses, Scaffolding, Links)
*		Typography ()
*		Sizes (Fonts size)
*		Tables ()
*		Forms ()
*		Grid ()
*
* 	COMPONENT VARIABLES
*		Navbar ()
*		Placeholder color ()
*		Form states and alerts ()
*
*
****************************************************/


// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #ba3925 !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;


// Links
// -------------------------
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;


// Quotes
// -------------------------
$quoteColor:			#666;


// Typography
// -------------------------
$sansFontFamily:        'PT Sans', sans-serif !default;
$sansFontFamily:        'PT Sans Narrow', sans-serif !default;
$serifFontFamily:       'PT Serif', serif !default;
$monoFontFamily:        Menlo, Consolas, monospace !default;		


$baseFontSize:          18px !default; // 1em
$baseFontFamily:        $sansFontFamily !default;
$altFontFamily:         $serifFontFamily !default;
$baseLineHeight:        29px !default; 
$lineHeightRatio:		1.618 !default;



// Component sizing
// -------------------------
// Based on 16px font-size and 20px line-height
// to set : http://modularscale.com/

$fontSizeLarge:         $baseFontSize * 1.25 !default; // ~22.5px
$fontSizeSmall:         $baseFontSize * 0.85 !default; // ~15.3px
$fontSizeMini:          $baseFontSize * 0.75 !default; // ~13.5px

$smallText: 			$baseFontSize * 0.778 !default; // ~14px
$bigText:				$baseFontSize * 1.279 !default; // ~23px 

$titlesFontFamily:		"proxima-nova", $sansFontFamily;
$paragraphsFontFamily:	"abril-text", Garamont, $serifFontFamily;

$paddingLarge:          11px 19px !default; // 44px
$paddingSmall:          2px 10px !default;  // 26px
$paddingMini:           0px 6px !default;   // 22px

$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;

$baseSpacingUnit:		4px !default;
$halfSpacingUnit:		2px !default;



// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border



// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   #ccc !default;
$inputBorderRadius:             $baseBorderRadius !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         #f5f5f5 !default;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border




// Default 980px grid 12 columns
// -------------------------

$responsive:				true;
$largeBreakpoint:			1200px;
$mediumBreakpoint:			1024px;
$smallBreakpoint:			780px;
$minimalBreakpoint:			320px;

$mainWidth: 				980px !default;
$gridColumns:				12 !default; 
$gridColumnWidth: 			($mainWidth * 6.5) / 100 ;  // one column is 6.5%
$gridGutterWidth: 			($mainWidth * 2) / 100 ; // one gutter is 2%
$gridRowWidth:            	($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

$verticalMargin:			4.833em;




// COMPONENT VARIABLES
// --------------------------------------------------


// Navbar
// -------------------------
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       #ffffff !default;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%) !default;
$navbarBorder:                    darken($navbarBackground, 12%) !default;

$navbarText:                      #777 !default;
$navbarLinkColor:                 #777 !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

$navbarBrandColor:                $navbarLinkColor !default;



// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;



// Form states and alerts
// -------------------------
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;




