//
// VARIABLES
// --------------------------------------------------


/****************************************************
* 	SOMMAIRE
* 
* 	GLOBAL VALUES
*		Colors (grays & elses, Scaffolding, Links)
*		Typography ()
*		Sizes (Fonts size)
*		Tables ()
*		Forms ()
*		Grid ()
*
* 	COMPONENT VARIABLES
*		Navbar ()
*		Placeholder color ()
*		Form states and alerts ()
*
*
****************************************************/


// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #ba3925 !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Basic colors
// -------------------------
$textColor:             $grayDark !default;
$linkColor:             #07547A !default;
$linkColorHover:        darken($linkColor, 15%) !default;
$quoteColor:			#666;


// Typography
// -------------------------
$sansFontFamily:        Arial, Helvetica, sans-serif !default;
$serifFontFamily:       Georgia, Times New Roman, serif !default;
$monoFontFamily:        Menlo, Consolas, monospace !default;		

$titlesFontFamily:		'PT Sans', sans-serif !default;
$navFontFamily: 		'PT Sans Narrow', sans-serif !default;
$paragraphsFontFamily:	'PT Sans', sans-serif !default;

$baseFontSize:          14px !default; // 1em
$baseFontFamily:        $sansFontFamily !default;
$altFontFamily:         $serifFontFamily !default;
$baseLineHeight:        20px !default; 
$lineHeightRatio:		1.43 !default;



// Component sizing
// -------------------------

$fontSizeLarge:         $baseFontSize * 1.25 !default; // ~px
$fontSizeSmall:         $baseFontSize * 0.85 !default; // ~px
$fontSizeMini:          $baseFontSize * 0.75 !default; // ~px

$baseMargin:			10px;

$logoWidth: 			98px;

$boxPadding:			0.2em 0.3em;
$buttonPadding: 		0.3em 0.4em;
		$paddingLarge:          11px 19px !default; 
		$paddingSmall:          2px 10px !default;  
		$paddingMini:           0px 6px !default;  

		$baseBorderRadius:      4px !default;
		$borderRadiusLarge:     6px !default;
		$borderRadiusSmall:     3px !default;

		$baseSpacingUnit:		4px !default;
		$halfSpacingUnit:		2px !default;



// Picto
// -------------------------

$pictoWidth:			24px;


// Tables
// -------------------------
$tableBackground:                   transparent !default;
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default;
$tableBorder:                       #ddd !default;



// Forms
// -------------------------
		$inputBackground:               $white !default;
		$inputBorder:                   $black !default;
		$inputBorderRadius:             0 !default;
		$inputDisabledBackground:       $grayLighter !default;
		$formActionsBackground:         #f5f5f5 !default;
		$inputHeight:                   $baseLineHeight;




// Default 980px grid 12 columns
// -------------------------

$responsive:				true;
$largeBreakpoint:			1240px;
$mediumBreakpoint:			1024px;
$smallBreakpoint:			720px;
$minimalBreakpoint:			320px;

$mainWidth: 				980px !default;
$gridColumns:				5 !default; 
$gridColumnWidth: 			($mainWidth * 18) / 100 ;  // one column is 18%
$gridGutterWidth: 			($mainWidth * 2.5) / 100 ; // one gutter is 2.5%
$gridRowWidth:            	($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;




// COMPONENT VARIABLES
// --------------------------------------------------


// Navbar
// -------------------------

$navbarBackground:			$black !default;
$navbarBorder:              darken($navbarBackground, 12%) !default;
$navbarHeight:              $baseLineHeight !default;

		$navbarCollapseWidth:             979px !default;
		$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

		$navbarHeight:                    40px !default;
		$navbarBackgroundHighlight:       #ffffff !default;

		$navbarText:                      #777 !default;
		$navbarLinkColor:                 #777 !default;
		$navbarLinkColorHover:            $grayDark !default;
		$navbarLinkColorActive:           $gray !default;
		$navbarLinkBackgroundHover:       transparent !default;
		$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

		$navbarBrandColor:                $navbarLinkColor !default;



// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;



// Form states and alerts
// -------------------------
		$warningText:             #c09853 !default;
		$warningBackground:       #fcf8e3 !default;
		$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

		$errorText:               #b94a48 !default;
		$errorBackground:         #f2dede !default;
		$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

		$successText:             #468847 !default;
		$successBackground:       #dff0d8 !default;
		$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

		$infoText:                #3a87ad !default;
		$infoBackground:          #d9edf7 !default;
		$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;




